/* Estilo para o item da lista */
#lista-trabalhadores li {
    margin-bottom: 15px; /* Espaço entre as linhas */
}

/* Estilo para o botão Remover */
.btn-sm {
    margin-left: 10px; /* Espaço entre o botão e o texto */
    padding: 5px 3px; /* Ajusta o tamanho interno do botão */
    font-size: 12px;   /* Reduz o tamanho do texto */
    border-radius: 3px; /* Ajusta as bordas arredondadas */
}

/* Caso queira ajustar o alinhamento vertical */
#lista-trabalhadores {
    padding-left: 0; /* Remove o padding lateral, se necessário */
    list-style-type: none; /* Remove os marcadores de lista, se preferir */
}

#mensagem-sucesso {
    margin-top: 10px;
}


#lista-tarefas li,
#lista-paletes li {
    margin-bottom: 10px;
}



.list-group-item {
    position: relative; /* Define como um contêiner de referência para posicionamento */
}

.list-group-item button {
    position: absolute; /* Posiciona o botão de forma independente */
    top: 50%; /* Move para o centro vertical */
    right: 200px; /* Alinha o botão à direita com um espaçamento de 10px */
    transform: translateY(-50%); /* Centraliza verticalmente o botão em relação ao próprio tamanho */
}


